name: test
on: push
jobs:
  checkoutandsetup:
    runs-on: ubuntu-latest
    steps:
      - name: code clone
        uses: actions/checkout@v2
      - name: setup node js
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: install dependencies
        run: npm ci
  build:
    runs-on: ubuntu-latest
    steps:
      - name: test Check
        run: npm test
      - name: build
        run: npm run build
