name: test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: code clone
        uses: actions/checkout@v2
      - name: setup node js 
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: test check 
        run: npm test
      - name: build
        run : npm build
